@using eXml.Models;
@using eXml.Entities;
@model List<ListPaymentReportModel>
<script type="text/javascript">
    function FilterGrid() {
        var dateInvFrom = $("#invoice-start-date").val();
        var dateInvTo = $("#invoice-end-date").val();

        if (dateInvFrom <= dateInvTo) {
            gvPayRep.Refresh();
        } else {
            alert('Invoice date from is greater than invoice date to! Rectify then proceed..!');
            return false;
        }

        }
        function SetGridCustomArgs(s, e) {
            e.customArgs['assembly'] = assembly.GetValue();
            e.customArgs['unit'] = unit.GetValue();
            e.customArgs['consultant'] = consultant.GetValue();
            e.customArgs['status'] = payStatus.GetValue();
            e.customArgs['type'] = payType.GetValue();
            e.customArgs['datefrom'] = $("#invoice-start-date").val();
            e.customArgs['dateto'] = $("#invoice-end-date").val();
            e.customArgs['datePfrom'] = $("#pmt-start-date").val();
            e.customArgs['datePto'] = $("#pmt-end-date").val();
        }
        function assemblyInit(s, e) {
            s.InsertItem(0, ["ALL", "ALL"]);
            s.SetValue("ALL");

            var dateFrom = Date.today().add(-1).days();
            var dateTo = Date.today();

            $("#invoice-end-date").val(dateTo.toString('yyyy-MM-dd'));
            $("#invoice-start-date").val(dateFrom.toString('yyyy-MM-dd'));
         
            $("#pmt-end-date").val(dateTo.toString('yyyy-MM-dd'));
            $("#pmt-start-date").val(dateFrom.toString('yyyy-MM-dd'));
        }
        function unitInit(s, e) {
            s.InsertItem(0, ["ALL", "ALL"]);
            //s.SelectedIndex = 0;
            s.SetValue("ALL");

        }
        function consultantInit(s, e) {
            s.InsertItem(0, ["ALL", "ALL"]);
            //s.SelectedIndex = 0;
            s.SetValue("ALL");
        }
        function statusInit(s, e) {
            s.InsertItem(0, ["ALL", "ALL"]);
            //s.SelectedIndex = 0;
            s.SetValue("ALL");
        }
        function typeInit(s, e) {
            s.InsertItem(0, ["ALL", "ALL"]);
            //s.SelectedIndex = 0;
            s.SetValue("ALL");
        }

</script>
<div class="container">
    <div>
        @Html.Partial("_payReportPartial")
    </div>
</div>
  <div class ="content">
       <div  id ="grid">
           @using (Html.BeginForm()){
            @Html.Partial("_GridListPaymentsReport",Model)
           }
       </div>
   </div>