<div class="footerMenu">
  <span><b>Meridian Associate  - </b>
        <b>Address :</b> 6 Hathiwala Mension, Daulat Nagar Road No # 3, Borivali East, Mumbai - 400 066, 
        <b>  Email : </b>anshuljain2904@gmail.com, Mobile : 9820892128, &copy; @DateTime.Now.Year</span>
</div>
<div class="copyright">
     
   @* @Html.DevExpress().Label(settings => {
        settings.EncodeHtml = true;
        settings.Text = " <span><b>Meridian Associate</b><br>Address : 6 Hathiwala Mension, Daulat Nagar Road No # 3, Borivali East, Mumbai - 400 066,<br>Email : anshuljain2904@gmail.com, Mobile : 9820892128, &copy; @DateTime.Now.Year</span>";       //settings.Text = DateTime.Now.Year + " &copy; Copyright by [Meridian Associate]";
    }).GetHtml()*@
</div>